body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  color: #333;
  box-sizing: border-box;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: rgb(11, 100, 100);
  margin-bottom: 40px;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(251, 209, 154, 0.319);
}

.post h2 {
  margin-top: 0;
  color: darkorange;
}

.post p {
  margin: 10px 0;
  line-height: 1.5;
  width: 90ch;
}

.author {
  font-size: 14px;
}

.button-container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(172, 172, 172, 0.397);
}
.delete-button {
  background-color: rgb(201, 44, 44);
  color: white;
  font-weight: bold;
}
.update-button {
  background-color: rgb(251, 209, 154);
}

.create-button {
  background-color: rgb(133, 212, 212);
  margin-top: 20px;
  margin-inline: auto;
  width: fit-content;
}
.create-button a {
  color: black;
  text-decoration: none;
}
