body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #4f4f4f;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.post h2 {
  margin-top: 0;
  color: darkorange;
}

.post p {
  margin: 10px 0;
}

.button-container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
button {
  padding: 7px 30px;
  border: none;
  border-radius: 5px;
}
.delete-button {
  background-color: rgb(201, 44, 44);
  color: white;
  font-weight: bold;
}
.update-button {
  background-color: rgb(251, 209, 154);
}
