<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Create a new blog</h1>
    <form action="" method="POST">
      <label for="title">Title of the blog:</label>
      <input type="text" id="title" name="title" required />
      <label for="author">Author: </label>
      <input type="text" id="author" name="author" required />
      <label for="content"> Content: </label>
      <textarea id="conten" name="content" required></textarea>
      <button type="submit">Post it!</button>
    </form>
  </body>
</html>
